In [1]:
#import dependencies and libraries
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [4]:
#import and print dataset
dataset=pd.read_csv("RealEstateDataset.csv")
print(dataset)

     X1 transaction date  X2 house age  \
0               2012.917          32.0
1               2012.917          19.5
2               2013.583          13.3
3               2013.500          13.3
4               2012.833           5.0
..                   ...           ...
409             2013.000          13.7
410             2012.667           5.6
411             2013.250          18.8
412             2013.000           8.1
413             2013.500           6.5

     X3 distance to the nearest MRT station  X4 number of convenience stores  \
0                                  84.87882                               10
1                                 306.59470                                9
2                                 561.98450                                5
3                                 561.98450                                5
4                                 390.56840                                5
..                                      ...                              ...
409                              4082.01500                                0
410                                90.45606                                9
411                               390.96960                                7
412                               104.81010                                5
413                                90.45606                                9

     X5 latitude  X6 longitude  Y house price of unit area
0       24.98298     121.54024                        37.9
1       24.98034     121.53951                        42.2
2       24.98746     121.54391                        47.3
3       24.98746     121.54391                        54.8
4       24.97937     121.54245                        43.1
..           ...           ...                         ...
409     24.94155     121.50381                        15.4
410     24.97433     121.54310                        50.0
411     24.97923     121.53986                        40.6
412     24.96674     121.54067                        52.5
413     24.97433     121.54310                        63.9

[414 rows x 7 columns]

In [5]:
#Independent variables known as x values
#Dependent variable known as the y value 
x = dataset[['X1 transaction date','X2 house age','X3 distance to the nearest MRT station','X4 number of convenience stores','X5 latitude','X6 longitude']]

y = dataset[['Y house price of unit area']]

In [6]:
#Initialize the linear regression model
reg = linear_model.LinearRegression()

In [7]:
#Split the data into 67% training and 33% testing data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [8]:
#Print traning x data
x_train

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
396,2012.667,37.1,918.6357,1,24.97198,121.55063
239,2013.500,18.1,837.7233,0,24.96334,121.54767
83,2012.917,25.3,2707.3920,3,24.96056,121.50831
168,2013.083,27.6,515.1122,5,24.96299,121.54320
323,2013.417,28.6,197.1338,6,24.97631,121.54436
...,...,...,...,...,...,...
71,2013.083,35.5,640.7391,3,24.97563,121.53715
106,2013.083,17.2,189.5181,8,24.97707,121.54308
270,2013.333,10.8,252.5822,1,24.97460,121.53046
348,2012.833,4.6,259.6607,6,24.97585,121.54516
102,2013.083,1.1,193.5845,6,24.96571,121.54089

In [9]:
#Train the model with our traning data
reg.fit(x_train, y_train)

LinearRegression()

In [10]:
#Print predictions on our test data
y_pred = reg.predict(x_test)
print(y_pred)

[[47.58281848]
 [41.12956716]
 [44.61591328]
 [40.91545155]
 [27.4914267 ]
 [45.91243395]
 [44.90303604]
 [46.75649655]
 [23.81500471]
 [54.37384198]
 [34.73595365]
 [36.34232734]
 [37.63167039]
 [23.46439036]
 [36.2167904 ]
 [34.65677761]
 [44.0446418 ]
 [45.0578296 ]
 [29.94188293]
 [43.91347598]
 [-0.48760813]
 [35.39607098]
 [48.22977204]
 [45.50208311]
 [10.1411108 ]
 [40.38120799]
 [11.51513829]
 [43.1699423 ]
 [35.78494965]
 [38.30024335]
 [12.62225054]
 [40.31416379]
 [35.44633343]
 [26.75347147]
 [46.69041147]
 [32.3636208 ]
 [50.6911119 ]
 [12.83145551]
 [49.88855791]
 [40.91286497]
 [39.17825262]
 [41.06487639]
 [47.80477741]
 [37.93954394]
 [39.73197807]
 [46.69949407]
 [43.51770987]
 [18.72608464]
 [47.04934433]
 [46.13441943]
 [48.06288085]
 [48.92784427]
 [43.18435905]
 [43.07096364]
 [36.71282803]
 [13.77317318]
 [37.31778709]
 [34.21664459]
 [28.3789786 ]
 [46.27643418]
 [32.94609897]
 [33.10556748]
 [13.77317318]
 [ 8.09686588]
 [ 9.3609588 ]
 [34.45435331]
 [27.44839745]
 [46.66035716]
 [34.06294407]
 [30.50764862]
 [45.72823522]
 [39.24255749]
 [45.5194849 ]
 [45.09889366]
 [35.75151853]
 [38.11813064]
 [38.83456095]
 [37.6691998 ]
 [40.96160564]
 [34.14807176]
 [42.69388656]
 [43.52963789]
 [27.25659902]
 [39.49198256]
 [33.83007539]
 [30.66095798]
 [39.87920159]
 [45.29036216]
 [34.9429795 ]
 [39.85096955]
 [12.00064742]
 [41.54817599]
 [42.14400975]
 [48.77447093]
 [46.58788795]
 [40.43616017]
 [34.31766479]
 [45.28821959]
 [32.30687568]
 [47.4514018 ]
 [29.62982656]
 [34.13589851]
 [43.34344005]
 [30.52404932]
 [48.74634356]
 [49.31771375]
 [29.78096685]
 [26.08558617]
 [41.11649551]
 [39.27202531]
 [37.42444274]
 [40.4296053 ]
 [48.61180926]
 [45.30265811]
 [17.26035465]
 [41.59623754]
 [45.79058794]
 [43.84611292]
 [31.20192113]
 [31.4009844 ]
 [46.34114939]
 [13.99599634]
 [50.48882062]
 [46.64110082]
 [37.99737671]
 [47.4664369 ]
 [14.53685182]
 [47.04934433]
 [11.53230142]
 [30.73100389]
 [35.33801353]
 [40.45478379]
 [45.55208053]
 [40.37877074]
 [36.8223897 ]
 [34.29449936]
 [37.8278193 ]]

In [11]:
#Print the actual values
print(y_test)

     Y house price of unit area
358                        45.1
350                        42.3
373                        52.2
399                        37.3
369                        22.8
..                          ...
145                        45.5
265                        38.1
109                        28.4
202                        31.5
196                        36.6

[137 rows x 1 columns]

In [13]:
print( np.mean((y_pred - y_test)**2) )

Y house price of unit area    71.485703
dtype: float64